html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0;
} body::-webkit-scrollbar {
    display: none;
}

.navbar {
    padding-left: 1rem;
    position: fixed;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px); 
}

.title {
    color: white;
    font-size: 6vw;
    font-style: bold;
    font-weight: bolder;
}

.follow {
    padding: 0.25rem;
    border: none;
    border-radius: 10px;
    font-size: smaller;
} .follow:hover {
    cursor: pointer;
}

.banner {
    width: 175%;
}

.heading {
    background-color: white;
    padding-bottom: 10px;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, -65%);
    width: 20%;  
    border: 7px solid white;
    border-radius: 70px;
    margin-bottom: -15%;
}

.centTitle {
    color: black;
    font-size: 8vw;
    font-weight: bold;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description {
    color: black;
    font-size: 4vw;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    background-color: #e6e6e6;
    padding: 10px;
    padding-right: 25px;
}

.topBox {
    position: relative;
    border-radius: 15px;
    margin: 30px;
    width: 50%;  
}

.box {
    position: relative;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    padding: 0px 15px 15px;
    margin-bottom: 15px;
    width: 95%;
}

.centList {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20px);
}

ul {
    list-style-type: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px 0px;
    text-decoration: none;
  }

/* MOBILE --> */

/* DESKTOP --> */
@media screen and (min-width: 768px) {
    .navbar {
        padding-left: 3rem;
        position: fixed;
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(3px); 
    }
    
    .title {
        color: white;
        font-size: 2.5vw;
        font-style: bold;
        font-weight: bolder;
    }
    
    .follow {
        padding: 0.75rem;
        border: none;
        border-radius: 10px;
        font-weight: bold;
    } .follow:hover {
        cursor: pointer;
    }
    
    .banner {
        width: 100%;
    }

    .heading {
        background-color: white;
        padding: 0px 15px 15px;
    }
    
    .pfp {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0px, -65%);
        width: 7%;  
        border: 7px solid white;
        border-radius: 70px;
        margin-bottom: -5%;
    }
    
    .centTitle {
        color: black;
        font-size: 3vw;
        font-weight: bold;
        display: block; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .description {
        color: rgb(79, 79, 79);
        font-size: 1.15vw;
        display: block; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .container {
        background-color: #e6e6e6;
        padding-top: 10px;
    }
    
    .topBox {
        position: relative;
        left: 21%;
        border-radius: 15px;
        margin: 50px;
        width: 50%;  
    }
    
    .box {
        position: relative;
        left: 21%;
        border: 1px solid white;
        background-color: white;
        box-shadow: 5px 5px lightgray;
        border-radius: 15px;
        padding: 0px 15px 15px;
        margin: 30px;
        width: 50%;
    }

    .centList {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-30px);
    }

    ul {
        list-style-type: none;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 0px 16px 0px;
        text-decoration: none;
      }
}
